body {
    background-color: #EFEFEF;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #555;
    color: #FFF;
    border-radius: 10px 10px 0px 0px;
  }
  
  .avail, .competence {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 200px;
  }
  
  .avail:focus, .competence:focus {
    outline: none;
    border: 1px solid #555;
  }

  .app-forms {
    margin: 5px;
  }
  
  button {
    background-color: #555;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  #review-box {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #CCC;
  }
  
  #review {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  #review h2, #review h3 {
    color: #555;
    margin-bottom: 10px;
  }
  
  #avail-list li {
    margin-bottom: 5px;
  }
  
  #send-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #FFF;
    border-radius: 5px;
    border: none;
  }
  
  #send-btn:hover {
    background-color: #555;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  