<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get password </title>
    </head>
    <%- include('partials/navbar', navdata) %>
    <div>
      
        <h2>Get new password for <%= user_pnr%></h3>
    </div>
    <body>
        <div>
            <% if(incorrectEmail){%>
                <p style="color: red;"> The email does not exist </p>

           <% }%>
            <form method="POST" action="/login/getpassword">
                <p>Please enter your email: </p> <input type="text" name="email"/>
                <p> <input type="submit" value="Submit"/> </p>
            </form>
        </div>
    </body>
</html>