<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>
<div><%- include('partials/navbar', navdata) %> </div>
<body>
  <form action="view" method="GET">
    <p>Number of applications to be viewed</p> <input type="text" name="nrOfApplications"/>
    <button type="submit">View applications</button>
  </form>
    <%if(applications[0]){%>
      <table>
        <tr>
          <th>Name</th>
          <th>Application</th>
          <th>Date Submitted</th>
        </tr>
        <%  for(var i=0; i < applications.length; i++) { %>
          <tr>
            <td><%= applications[i].name %></td>
            <td>Cover Letter</td>
            <td>01/01/2023</td>
          </tr>
        <% } %>
      </table>

      <%}%>
  
</body>
</html>
