<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Login </title>
    </head>
    <div>
        <%- include('partials/navbar', navdata) %>
        <h2> Login page </h3>
    </div>
    <body>
        <div>
            <form method="POST" action="/login">
                <p> Username or person number: </p> <input type="text" name="username"/>
                <p> Password: </p> <input type="password" name="password"/>
                <p> <input type="submit" value="Submit"/> </p>
            </form>
        </div>
    </body>
</html>