<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header') %>
    <div>
        <%- include('partials/navbar', navdata) %>
        <h2> Login page </h3>
    </div>
    <body>
        <div>
            <% if(incorrect){%>
                <p style="color: red;"> Incorrect username or password </p>

           <% }%>
            <form method="POST" action="/login">
                <p> Username or person number: </p> <input type="text" name="username"/>
                <p> Password: </p> <input type="password" name="password"/>
                <p> <input type="submit" value="Submit"/> </p>
            </form>
        </div>
    </body>
</html>