<!DOCTYPE html>
<html lang="en">
    <head>
        <title> registration </title>
    </head>
    <% if(status){ %>
        <div>
            <p>registrering user <%= user %> was <%= status %> </p>
        </div>
    <% }; %>
    <body>
        <div>
            <form method="POST" action="/register/register_view">
                <p> Username: </p> <input type="text" name="username"/>
                <p> Password: </p> <input type="password" name="password"/>
                <p> <input type="submit" value="Submit"/> </p>
            </form>
        </div>
    </body>
</html>