<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Set password </title>
    </head>
    <%- include('partials/navbar', navdata) %>
    <div>
      
        <h2>Set password for <%= user_pnr%></h3>
    </div>
    <body>
        <div>
            <% if(incorrectPassword){%>
                <p style="color: red;"> Incorrect password format </p>

           <% }%>
            <form method="POST" action="/login/setpassword">
                <p> Person number: </p> <input type="text" name="pnr" value="<%=user_pnr%>"/>
                <p> Password: </p> <input type="password" name="password"/>
                <p> <input type="submit" value="Submit"/> </p>
            </form>
        </div>
    </body>
</html>