<%
    gen_buttons = function (loginstatus, recruiter){
        buttons = {}
        buttons['home'] = '/'
        buttons['login'] = '/login'
        buttons['register'] = '/register'
        buttons['viewApplications'] = '/applications/view'
        buttons['createApplication'] = '/createApplication'
        buttons['logout'] = '/logout'
        if (loginstatus){
            if(recruiter){
                delete buttons.createApplication
            } else {
                delete buttons.viewApplications
            }
            delete buttons.register
            delete buttons.login
            return buttons
        }
        else {
            delete buttons.logout
            delete buttons.createApplication
            delete buttons.viewApplications
            return buttons
        }
    }
%>

<div class='navbar' style="border: 2px solid black; padding: 5px">
    <%if(username){%>
        <span style="display: inline-block;"><h5> User: <%= username %></h5></span>
        <% } %>
    <% const obj = gen_buttons(loginstatus, recruiter) %>
    <% Object.keys(obj).forEach(key => { %>
        <form action="<%= obj[key]%>" style="display: inline-block;">
            <input type="submit" value="<%= key %>"/>
        </form>
    <%}) %> 
</div>